body {
    text-align: center;
}

div {
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    text-align: left;
    margin-left: 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.style {
    font-weight: bold;
    font-size: 15px;
    
}

